@use "../base/variables" as vars;

/* Composant Formulaire d'authentification */
.form {
  &__submit {
    /* Bouton de soumission du formulaire, on peut étendre le style du .button */
    width: 100%;
    margin: 1rem 0;
  }

  &__note {
    text-align: center;
    font-size: 0.9rem;

    a {
      color: vars.$color-primary;
      text-decoration: none;
    }
  }
}