/* Variables de couleur */
$color-primary: #1B355A;   /* Bleu royal profond (couleur principale) */
$color-secondary: #6B1E2E; /* Bordeaux raffiné (alternative principale) */
$color-accent: #BFA56A;    /* Or discret (pour accents/feedbacks) */
$color-neutral-light: #F7F5F2; /* Blanc cassé (fonds, cartes) */
$color-neutral-dark: #333333;  /* Gris foncé (texte) */
$color-error: #CC0000;     /* Rouge erreur (pour messages d’erreur) */

/*Variables de Polices*/
$font-title: 'Playfair Display', serif;  /* Police titres élégante */
$font-body: 'Roboto', sans-serif;        /* Police textes courants */

/*BreakPoints*/
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;